body{
    background: rgb(0,36,33);
    background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(206,31,155,0.6867997198879552) 0%, rgba(0,212,255,1) 100%);
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
